<?xml version="1.0" encoding="utf-8"?> 
<dbconfig name="full">
<states path="10.0.1.9:states"/>
<databases>
<store Host="10.0.11.1" DisplayName="Комфарм №1" DBName="APTEKA1DB.fdb" ID="11" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Комфарм №2" DBName="APTEKA2DB.fdb" ID="12" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Комфарм №3" DBName="APTEKA3DB.fdb" ID="13" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Комфарм №4" DBName="APTEKA4DB.fdb" ID="14" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Комфарм №5" DBName="APTEKA5DB.fdb" ID="15" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Комфарм №6" DBName="APTEKA6DB.fdb" ID="16" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Комфарм №7" DBName="APTEKA7DB.fdb" ID="17" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Комфарм №8" DBName="APTEKA8DB.fdb" ID="18" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Шарлота №1" DBName="SHARL71DB.fdb" ID="71" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Шарлота №2" DBName="SHARL72DB.fdb" ID="72" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Шарлота №3" DBName="SHARL73DB.fdb" ID="73" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Шарлота №4" DBName="SHARL74DB.fdb" ID="74" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Шарлота №5" DBName="SHARL75DB.fdb" ID="75" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Шарлота №6" DBName="SHARL76DB.fdb" ID="76" Alias="fdb"/>
<store Host="10.0.77.1" DisplayName="Шарлота №7" DBName="SHARL77DB.fdb" ID="77" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Шарлота №8" DBName="SHARL78DB.fdb" ID="78" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Оффицина №1" DBName="OFF51DB.fdb" ID="51" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Оффицина №2" DBName="OFF52DB.fdb" ID="52" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Оффицина №3" DBName="OFF53DB.fdb" ID="53" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Оффицина №4" DBName="OFF54DB.fdb" ID="54" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Оффицина №5" DBName="OFF55DB.fdb" ID="55" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Оффицина №6" DBName="OFF56DB.fdb" ID="56" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Оффицина №7" DBName="OFF57DB.fdb" ID="57" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Оффицина №8" DBName="OFF58DB.fdb" ID="58" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Оффицина №9" DBName="OFF59DB.fdb" ID="59" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Оффицина №10" DBName="OFF10DB.fdb" ID="23" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №1" DBName="MOIA01DB.fdb" ID="31" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №2" DBName="MOIA02DB.fdb" ID="32" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №3" DBName="MOIA03DB.fdb" ID="33" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №4" DBName="MOIA04DB.fdb" ID="34" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №5" DBName="MOIA05DB.fdb" ID="35" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №6" DBName="MOIA06DB.fdb" ID="36" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №7" DBName="MOIA07DB.fdb" ID="37" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №8" DBName="MOIA08DB.fdb" ID="38" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №9" DBName="MOIA09DB.fdb" ID="39" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №10" DBName="MOIA10DB.fdb" ID="40" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №11" DBName="MOIA11DB.fdb" ID="41" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №12" DBName="MOIA12DB.fdb" ID="42" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №13" DBName="MOIA13DB.fdb" ID="43" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №14" DBName="MOIA14DB.fdb" ID="44" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №15" DBName="MOIA15DB.fdb" ID="45" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №16" DBName="MOIA16DB.fdb" ID="46" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №17" DBName="MOIA17DB.fdb" ID="47" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №18" DBName="MOIA18DB.fdb" ID="48" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №19" DBName="MOIA19DB.fdb" ID="49" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №20" DBName="MOIA20DB.fdb" ID="60" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №21" DBName="MOIA21DB.fdb" ID="61" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №22" DBName="MOIA22DB.fdb" ID="62" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №23" DBName="MOIA23DB.fdb" ID="63" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №24" DBName="MOIA24DB.fdb" ID="64" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №25" DBName="MOIA25DB.fdb" ID="65" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №26" DBName="MOIA26DB.fdb" ID="66" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №27" DBName="MOIA27DB.fdb" ID="67" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №28" DBName="MOIA28DB.fdb" ID="68" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №29" DBName="MOIA29DB.fdb" ID="69" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №30" DBName="MOIA30DB.fdb" ID="80" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №31" DBName="MOIA31DB.fdb" ID="81" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №32" DBName="MOIA32DB.fdb" ID="82" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №33" DBName="MOIA33DB.fdb" ID="83" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №34" DBName="MOIA34DB.fdb" ID="84" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №35" DBName="MOIA35DB.fdb" ID="85" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №36" DBName="MOIA36DB.fdb" ID="86" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №37" DBName="MOIA37DB.fdb" ID="87" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №38" DBName="MOIA38DB.fdb" ID="88" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №39" DBName="MOIA39DB.fdb" ID="89" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №40" DBName="MOIA40DB.fdb" ID="90" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №41" DBName="MOIA41DB.fdb" ID="91" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №42" DBName="MOIA42DB.fdb" ID="92" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №43" DBName="MOIA43DB.fdb" ID="93" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №44" DBName="MOIA44DB.fdb" ID="94" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №45" DBName="MOIA45DB.fdb" ID="95" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №46" DBName="MOIA46DB.fdb" ID="96" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №47" DBName="MOIA47DB.fdb" ID="97" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №48" DBName="MOIA48DB.fdb" ID="98" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №49" DBName="MOIA49DB.fdb" ID="99" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №50" DBName="MOIA50DB.fdb" ID="100" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №51" DBName="MOIA51DB.fdb" ID="101" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №52" DBName="MOIA52DB.fdb" ID="102" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №53" DBName="MOIA53DB.fdb" ID="103" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №54" DBName="MOIA54DB.fdb" ID="104" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №55" DBName="MOIA55DB.fdb" ID="105" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №56" DBName="MOIA56DB.fdb" ID="106" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №57" DBName="MOIA57DB.fdb" ID="107" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №58" DBName="MOIA58DB.fdb" ID="108" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №59" DBName="MOIA59DB.fdb" ID="109" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №60" DBName="MOIA60DB.fdb" ID="110" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №61" DBName="MOIA61DB.fdb" ID="111" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №62" DBName="MOIA62DB.fdb" ID="112" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №63" DBName="MOIA63DB.fdb" ID="113" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №64" DBName="MOIA64DB.fdb" ID="114" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №65" DBName="MOIA65DB.fdb" ID="115" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №66" DBName="MOIA66DB.fdb" ID="116" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №67" DBName="MOIA67DB.fdb" ID="117" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №68" DBName="MOIA68DB.fdb" ID="118" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №69" DBName="MOIA69DB.fdb" ID="119" Alias="fdb"/>
<store Host="10.0.0.0" DisplayName="Моя аптека №70" DBName="MOIA70DB.fdb" ID="120" Alias="fdb"/>
</databases>
</dbconfig>
